<div class="col">
    Total Results: {{totalResults}}
</div>
{{#unless emptyResults}}
<div class="col">
    <div class="d-flex justify-content-end">
        <a id="pv-prev" href="#"><i class="material-icons">arrow_back</i></a> {{humanCurrentPage}} / {{totalPages}} <a id="pv-next" href="#"><i class="material-icons">arrow_forward</i></a>
    </div>
</div>
{{/unless}}