<div class="col">
    <img src="{{preview.medium}}" alt="preview image">
</div>
<div class="col">
        <div class="row">
            <div class="col-12"><h1>{{channel.display_name}}</h1></div>
            <div class="col">{{game}}</div>
            <div class="col">{{status}}</div>
        </div>
</div>